* {
	margin: 0;
	padding: 0;	
	box-sizing: border-box;
}


/*#box {
	background-color: orange;
	border: 1px solid black;
	padding: 50px;
	height: 150px;
	width: 150px;
}*/

#box {
	background-color: green;
	width: 400px;
  	border: 15px solid pink;
  	padding: 50px;
  	margin: 20px;
  	box-sizing: content-box;
  	width: 400px;


}